@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #000000;

            margin: 0;
            padding: 0;
            height: 100vh;
        }

        .container {
            background-color: #111111;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #f0f0f0;
        }

        p {
            color: #f0f0f0;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>@ViewData["Title"]</h1>
    @if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered. See
            <a href="https://aka.ms/aspaccountconf" target="_blank">these docs</a>
            for how to configure a real email sender. Normally, this would be emailed:
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>Please check your email to confirm your account.</p>
    }
</div>
</body>
</html>