@{
    ViewData["Title"] = "New Music";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spotify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <style>
        .error-popup {
            display: none;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #ff0000;
            color: #ffffff;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a asp-controller="ArtistHome" asp-action="Index">Home</a>
            <a asp-controller="ArtistHome" asp-action="Musics">My Musics</a>
            <a asp-controller="ArtistHome" asp-action="NewMusic" class="active">Publish New Music</a>
            <a asp-controller="ArtistHome" asp-action="Followers">My Followers</a>
        </div>
        <div class="content">
            <p class="display-4">Publish a New Music</p>
            
            <div id="errorPopup" class="error-popup">Please select a music file!</div>

            <form asp-controller="ArtistHome" asp-action="UploadMusic" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <!-- Input for selecting a music file -->
                <input type="file" name="musicFile" id="musicFile" accept=".mp3, .wav" />
                <br />
                <br />
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary">Upload Music</button>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function validateForm() {
            var fileInput = document.getElementById("musicFile");

            if (fileInput.files.length === 0) {
                document.getElementById("errorPopup").style.display = "block";

                setTimeout(function () {
                    document.getElementById("errorPopup").style.display = "none";
                }, 5000);

                return false;
            }

            return true;
        }
    </script>
</body>
</html>
